body {
    margin: 0;
    height: 100vh;
    background-color: rgb(222, 0, 0);
}
.dark-mode {
    background-color: rgb(154, 0, 188);
}
/* 
.scarlet {
    background-color: rgb(222, 0, 0);
}

.violet {
    background-color: rgb(154, 0, 188);
} */

.logo {
    display: block;
    max-width: 800px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}

.slider {
    /* width: 100%; */
    /* max-width: 800px; */
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    top: -30%;
}

.slide {
    width: 100%;
    max-width: 800px;
    /* height: 500px; */
    position: absolute;
    transition: all 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}